.content-header>h1 {
  padding-left: 24px !important;
}

.vehicle_loophole_container {
  padding: 20px 24px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #bbb;
}

select:focus,
input:focus {
  outline: none;
  outline-offset: 0px;
  border: 1px solid #0070FF;
}

button:focus {
  outline: none;
}

button:active {
  outline: none;
}

.vehicle_box_top {
  font-size: 0;
}

.vehicle_icon_box {
  position: relative;
  height: 42px;
  display: inline-block;
  vertical-align: top;
  margin-right: 12px;
}

.select_down_icon {
  position: absolute;
  right: 10px;
  top: 15px;
}

/* 修改搜索框 下拉框 */
.search_input_box {
  display: inline-block;
  width: 165px;
  border: 1px solid red;
  position: relative;
  margin-right: 5px;
}

.search_input {
  border: 1px solid #ECECEC;
  border-radius: 4px;
  height: 42px;
  width: 165px;
  padding: 0 21px;
}


.select_list_box {
  position: absolute;
  height: auto;
  min-height: 34px;
  background: #fff;
  width: 100%;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  margin-top: 45px;
  overflow-y: auto;
  z-index: 9990;
}

.select_list_box li {
  font-size: 12px;
  height: 34px;
  line-height: 34px;
  padding: 0 16px;
  color: #666666;
  cursor: pointer;
  white-space: nowrap;
}

.select_list_box li:hover {
  background: #E0EEFF;
}

.select_list_box::-webkit-scrollbar-track-piece {
  border-radius: 10px;
  background-color: #fff;
}

.select_list_box::-webkit-scrollbar {
  width: 4px;
  height: 1px;
}

.select_list_box::-webkit-scrollbar-thumb {
  background: #0070FF;
  border-radius: 10px;
  height: 24px;
}

.select_list_box::-webkit-scrollbar-thumb:hover {
  background: #0070FF;
}


.search_icon {
  position: absolute;
  top: 14px;
  left: 10px;
}

.vehicle_search_input {
  border: 1px solid #ECECEC;
  border-radius: 4px;
  height: 42px;
  width: 180px;
  padding-left: 5px;
  font-size: 14px;
}

.vehicle_search_select {
  border: 1px solid #ECECEC;
  border-radius: 4px;
  height: 42px;
  width: 156px;
  padding-left: 5px;
  /*  margin-right: 12px;*/
  font-size: 14px;
}

.vehicle_search_time {
  position: relative;
  display: inline-block;
  margin-right: 12px;
}

.time_icon_search {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 13px;
  right: 10px;
}

.input_box {
  width: 290px;
  height: 42px;
  border: 1px solid #ECECEC;
  border-radius: 4px;
  /*margin-top: 26px;*/
  text-align: left;
  padding-left: 15px;
}

.button_search {
  background: #0070FF;
  border-radius: 4px;
  height: 42px;
  width: 124px;
  color: #fff;
  margin: 0 0 0 24px;
  font-size: 14px;
}

.daterangepicker td,
.daterangepicker th {
  padding: 1px !important;
}

.daterangepicker {
  width: auto;
  padding-top: 10px;
  transform: translateX(0);
}

.daterangepicker .ranges {
  display: contents;
}

.time_icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 37px;
  right: 8px;
}

.vehicle_item_box {
  position: relative;
  margin: 10px 0 20px;
  height: 42px;
  width: 96%;
  border-bottom: 1px solid #DDDDDD;
}

.vehicle_item_box .tag_tip {
  color: #bbb;
  font-size: 14px;
  line-height: 40px;
  padding-left: 5px;
  font-family: "PingFangSC-Regular";
}

.tag_add_box {
  border: none;
  font-size: 14px;
}

.tag_input {
  font-size: 14px;
  width: 40px;
  margin: 0;
  border: 0;
  outline: none;
  padding-left: 5px;
  vertical-align: super;
}

.tag_input:hover,
.tag_input:focus {
  outline: none;
  border: 0;
}

.tag_box_ul {
  display: inline-block;
  height: 42px;
  font-size: 14px;
  /*flex: 1;*/
  float: left;
}

.tag_box_ul li {
  height: 24px;
  line-height: 24px;
  padding: 0;
  display: inline-block;
  background: #E0EEFF;
  border-radius: 2px;
  font-size: 12px;
  color: #0070FF;
  margin: 8px 5px 8px 0;
}

.tag_box_ul .tag_icon {
  vertical-align: text-top;
}

.tag_list_box {
  position: absolute;
  width: 150px;
  background: #fff;
  min-height: 300px;
  height: 300px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  margin-top: 2px;
  overflow-y: auto;
}

.tag_list_box li {
  height: 34px;
  line-height: 34px;
  padding: 0 16px;
  font-size: 14px;
  color: #666666;
  cursor: pointer;
}

/********************************/

.vehicle_search_country {
  background: #EEF6FF;
  display: flex;
  margin: 30px -24px 20px -24px;
}

.search_country {
  flex: 1;
  padding-left: 24px;
}

.search_country .search_country_item {
  height: auto;
  display: flex;
  border-bottom: 1px solid #fff;
}

.search_country_item:last-child {
  border-bottom: 1px solid #EEF6FF !important;
}

.search_country .search_country_item .title {
  width: 150px;
  color: #0070FF;
  font-size: 14px;
  line-height: 43px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: 'PingFangSC-Regular';
}

@media screen and (min-width: 1600px) {
  .search_country .search_country_item .title {
    width: 200px;
  }
}

.search_country .search_country_item .lists {
  flex: 1;
  padding: 9px 0;
  word-break: break-all;
}

.search_country .search_country_item .lists .item {
  color: #333;
  font-size: 14px;
  margin-right: 20px;
  line-height: 25px;
  cursor: pointer;
  display: inline-block;
  font-family: 'PingFangSC-Regular';
}

.search_country .search_country_item .lists .item.active {
  color: #0070FF;
}

.search_toggle {
  width: 126px;
  border-left: 2px solid #fff;
  position: relative;
}

.search_toggle .toggle {
  color: #0070FF;
  font-size: 12px;
  text-decoration: none;
  position: absolute;
  left: 15px;
  bottom: 15px;
  cursor: pointer;
  font-family: 'PingFangSC-Regular';
}

.search_toggle .toggle .caret {
  border-left: 4px dashed;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

.search_toggle .toggle.active {
  top: auto;
  bottom: 15px;
}

.search_toggle .toggle.active .caret {
  border-bottom: 4px dashed;
  border-top: 0;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

/**************************/

.loophole_table_content {
  padding: 20px 0;
  margin: 0 0 0 0;
}

.loophole_table_tr>th,
.loophole_table_tr>td {
  text-align: left;
  height: 48px;
  line-height: 30px !important;
}

.loophole_table_tr>td {
  color: #333;
}

.loophole_table_tr>td .th_id_img {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.loophole_table_tr>td .th_id_img .status {
  vertical-align: sub;
}

.loophole_table_tr {
  display: flex;
}

.loophole_table_tr th:nth-child(1),
.loophole_table_tr td:nth-child(1) {
  width: 200px;
  padding-left: 24px;
}

.loophole_table_tr th:nth-child(2),
.loophole_table_tr td:nth-child(2) {
  width: 250px;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.loophole_table_tr th:nth-child(3),
.loophole_table_tr td:nth-child(3) {
  width: 150px;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.loophole_table_tr th:nth-child(4),
.loophole_table_tr td:nth-child(4) {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.loophole_table_tr th:nth-child(5),
.loophole_table_tr td:nth-child(5) {
  width: 126px;

}

@media (min-width: 1600px) {

  .loophole_table_tr th:nth-child(1),
  .loophole_table_tr td:nth-child(1) {
    width: 300px;
  }

  .loophole_table_tr th:nth-child(2),
  .loophole_table_tr td:nth-child(2) {
    width: 350px;
  }

  .loophole_table_tr th:nth-child(3),
  .loophole_table_tr td:nth-child(3) {
    width: 250px;
  }
}


.loophole_result_length {
  font-size: 14px;
  color: #BBBBBB;
}

.loophole_table_tr .btn_loophole {
  border: 1px solid #0070ff;
  border-radius: 4px;
  color: #0070ff;
  font-size: 12px;
  height: 24px;
  padding: 0 8px;
  margin: 1px 8px 0 0;
  line-height: 0;
  vertical-align: top;
  background-color: #fff;
  font-family: "PingFangSC-Regular";
}

.loophole_table_tr .btn_loophole.active {
  border: 1px solid #0070FF;
  color: #0070FF;
  position: relative;
}

.loophole_table_tr .btn_loophole.active .loop_img {
  position: absolute;
  width: 10px;
  height: 10px;
  right: 0;
  bottom: 0;
  background: #0070FF;
  border-radius: 2px 0 2px 0;
}

.daterangepicker.dropdown-menu {
  z-index: 99999;
}

.daterangepicker {
  width: auto;
  padding-top: 10px;
  transform: translateX(0);
}

.daterangepicker .calendar th,
.daterangepicker .calendar td {
  width: auto;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #0070ff;
}

.daterangepicker .input-mini.active {
  border: 1px solid #0070ff;
  border-radius: 4px;
}

.btn-success,
.btn-success:hover,
.btn-success:active:focus {
  background-color: #0070ff;
  border-color: #0070ff;
}

/******************以下是弹框样式********************/
.zeromodal-container {
  background: #F8F8F8;
}

#vehicle_loophole {
  padding-left: 20px;
  padding-right: 4px;
}

.l_top {
  height: 40px;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  font-family: 'PingFangSC-Medium';
}

.l_mid .item {
  padding: 10px 10px;
  position: relative;
}

.l_mid .item:nth-child(odd) {
  background: #fff;
}

.l_mid .item .i_img {
  display: inline-block;
  transform: scale(0.8);
  margin: 0 5px;
  vertical-align: sub;
}

.l_mid .item .title {
  width: 150px;
  color: #666;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  font-family: PingFangSC-Medium;
}

.l_mid .item .stance {
  display: inline-block;
  font-family: PingFangSC-Regular;
}

.l_mid .item .stance.s_active {
  color: #0070ff;
}

.l_mid .item .stance.s_content {
  padding: 0px 0 0 184px;
  color: #666;
  font-size: 14px;
  line-height: 18px;
  height: 56px;
  overflow-y: auto;
  display: block;
  margin-top: -20px;
  font-family: PingFangSC-Regular;
}

.l_mid .item .stance .s_refer {
  color: #0070ff;
  font-size: 12px;
  border-radius: 4px;
  text-decoration: none;
  padding: 4px 4px;
  /* border: 1px solid #0070ff; */
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  display: block;
  /* margin: 2px 6px 0 0; */
  width: 450px;
  text-overflow: ellipsis;
}

.l_mid .item .s_label_list {
  margin-top: 6px;
  /*height: 70px;
    overflow-y: auto;*/
}

.l_mid {
  border: 1px solid #ECECEC;
  /*   height: 500px;*/
  overflow-y: auto;
  height: 484px;
}


.l_mid::-webkit-scrollbar {
  width: 4px;
  height: 1px;
}

.l_mid::-webkit-scrollbar-thumb {
  background: #0070FF;
  border-radius: 2px;
}

.l_mid::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 2px;
}


.l_mid .item .s_label {
  height: 34px;
  line-height: 34px;
  display: flex;
  margin-left: 30px;

}

.l_mid .item .s_label .s_name {
  width: 154px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.l_mid .item .s_label .s_lab {
  flex: 1;
  font-size: 0;
}

.l_mid .item .s_label .s_lab .s_lab_val {
  color: #0070ff;
  font-size: 12px;
  line-height: 32px;
  border-radius: 4px;
  font-weight: bold;
  text-decoration: none;
  padding: 4px 10px;
  margin-right: 10px;
  border: 1px solid #0070ff;
  white-space: nowrap;
  overflow: hidden;
}







/* 修改 */
.pop_box {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .4);
  overflow: auto;
  z-index: 999;
}

.pop_box_container::-webkit-scrollbar-track-piece {
  border-radius: 10px;
  background-color: #fff;
}

.pop_box_container::-webkit-scrollbar {
  width: 4px;
  height: 1px;
}

.pop_box_container::-webkit-scrollbar-thumb {
  background: #0070FF;
  border-radius: 10px;
  height: 20px;
}

.pop_box_container::-webkit-scrollbar-thumb:hover {
  background: #0070FF;
}

.pop_box_container {
  width: 100%;
  overflow-y: auto;
  height: 85%;
  margin-top: 24px;
}

.pop_contnet {
  width: 60%;
  height: 592px;
  padding: 24px 36px;
  background: #F8F8F8;
  border-radius: 8px;
  position: fixed;
  top:calc((100vh - 656px)/2 + 64px);
  left: 50%;
  transform: translateX(-50%);
}

.contnet_title_box {
  height: 24px;
}

.closed_img {
  float: right;
  cursor: pointer;

}

.pop_contnet_title {
  font-family: PingFangSC-Medium;
  font-size: 18px;
  color: #333333;
  line-height: 24px;
  float: left;
}

.contnet {
  border: 1px solid #ECECEC;
  background-color: #fff;
}

.contnet_item {
  padding: 0 15px;
  display: flex;
  min-height: 42px;
  line-height: 42px;
  /* margin-bottom: 10px; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.contnet_item_left {
  width: 140px;
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #666666;
}

.contnet_item_left img {
  margin-right: 10px;
}

.contnet_item_right {
  flex: 1;
  display: flex;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item_right_input {
  min-height: 42px;
  background: #F8F8F8;
  width: 100%;
  padding: 0 24px;
  border-radius: 3px;
  font-size: 14px;
  color: #666666;
  border: 0;
  word-break: break-all;
  word-wrap: break-word
}

.item_right_time_icon {
  position: absolute;
  right: 10px;
  width: 18px;
  top: 12px;
}

.active_link {
  color: #0070ff;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bg_item {
  background: #F8F8F8
}

.detail_box {
  margin-top: 5px;
  height: 80px;
  overflow-y: auto;
}

.detail_box::-webkit-scrollbar-track-piece {
  border-radius: 10px;
  background-color: #fff;
}

.detail_box::-webkit-scrollbar {
  width: 4px;
  height: 1px;
}

.detail_box::-webkit-scrollbar-thumb {
  background: #0070FF;
  border-radius: 10px;
  height: 20px;
}

.detail_box::-webkit-scrollbar-thumb:hover {
  background: #0070FF;
}


.detail_box p {
  line-height: 25px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.info_mation {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.info_mation_item {
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.info_mation_item p {
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.tag_box {
  display: flex;
  /* justify-content: space-between; */

}

.tag_box_left {
  width: 120px;
  display: inline-block;
}

.tag_box_right {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* justify-content: space-around; */
  align-items: flex-start;
}

.tag_box_right_tag {
  margin-right: 5px;
  height: 25px;
  line-height: 25px;
  margin-top: 10px;
  color: #0070FF;
  padding: 0 8px;
  border: 1px solid #0070FF;
  border-radius: 4px;
}

.info_mation_nvd, .info_mation_nvd:hover{
  color: #0070FF;
  cursor: pointer;
}


/*****************************CVE*******************************/


#vehicle_loophole_nvd{
  padding-left: 20px;
  padding-right: 4px;
  margin-top: 30px;
}

.l_nvd_mid{
  border: 1px solid #ECECEC;
}
.l_nvd_mid .item{
  padding: 10px 10px;
}
.l_nvd_mid .item:nth-child(odd){
  background: #fff;
}

.l_nvd_mid .item .i_img{
  display: inline-block;
  transform: scale(0.8);
  margin: 0 5px;
  vertical-align: sub;
}
.l_nvd_mid .item .title{
  width: 150px;
  color: #666;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  font-family: PingFangSC-Medium;
}
.l_nvd_mid .item .stance{
  display: inline-block;
  font-family: PingFangSC-Regular;
}

.l_nvd_mid .item .stance.s_active{
  color: #0070ff;
}

.l_nvd_mid .item .stance.s_content{
  padding: 6px 0 0 32px;
  color: #666;
  font-size: 14px;
  line-height: 18px;
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: block;
  -webkit-box-orient: vertical;
  font-family: PingFangSC-Regular;
}

.l_nvd_mid .item .s_label{
  height: 34px;
  line-height: 34px;
  display: flex;
}
.l_nvd_mid .item .s_label .s_name{
  width: 100px;
}
.l_nvd_mid .item .s_label .s_lab{
  flex: 1;
  font-size: 0;
}

.l_nvd_mid .item .s_label .s_lab .s_lab_val{
  color: #0070ff;
  font-size: 14px;
  border-radius: 4px;
  text-decoration: none;
  padding: 3px 8px;
  margin-right: 5px;
  border: 1px solid #0070ff;
  white-space: nowrap;
  overflow: hidden;
}
