.vehicle_detail_container{
    padding: 0 48px;
    border: 1px solid green;
    background-color: #F8F8F8;

}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #bbb;
}

select:focus,
input:focus {
    outline: none;
    outline-offset: 0px;
    border: 1px solid #0070FF;
}


/******************/
.vehicle_info{
    margin: 40px 0;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);
    border-radius: 6px;
    height: 133px;
}

.vehicle_info_top{
    height: 66px;
    line-height: 66px;
    border-bottom: 1px solid #ECECEC;
}
.vehicle_info_top .status{
    margin-left: 20px;
    vertical-align: text-bottom;
}
.vehicle_info_top .name{
    font-family: PingFangSC-Medium;
    font-size: 20px;
    color: #333333;
}
.vehicle_info_bottom{
    display: flex;
    height: 66px;
    line-height: 66px;
    margin-left: 20px;
}
.vehicle_info_bottom .item1{
    width: 270px;
}
.vehicle_info_bottom .item2{
    width: 240px;
}
.vehicle_info_bottom .item3{
    width: 300px;
}
.vehicle_info_bottom .item4{
    flex: 1;
}

.vehicle_info_bottom .name{
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #649EE9;
    line-height: 20px;
}
.vehicle_info_bottom .price{
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #333333;
    line-height: 20px;
    margin-left: 10px;
}
