/*** autocomplete ***/
.ui-widget-content {
    background-color: #fff;
    z-index: 999999;
    border: 1px solid #ECECEC!important;
    max-height: 340px!important;
    overflow-y: auto;
}
.ui-widget-content::-webkit-scrollbar-track-piece {
    border-radius: 10px;
    background-color: #fff;
}

.ui-widget-content::-webkit-scrollbar {
    width: 4px;
    height: 1px;
}

.ui-widget-content::-webkit-scrollbar-thumb {
    background: #0070FF;
    border-radius: 10px;
    height: 24px;
}

.ui-widget-content::-webkit-scrollbar-thumb:hover {
    background: #0070FF;
}

.ui-autocomplete > .ui-menu-item{
    padding: 0 34px!important;
    height: 34px!important;
    line-height: 34px!important;
    border: 1px solid #fff !important;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: 1px solid #E0EEFF !important;
    background: #E0EEFF !important;
    height: 34px!important;
    line-height: 34px!important;
    clear: both;
    font-weight: normal;
    white-space: nowrap;
}
