.base_intel_container {
    padding: 5px 48px 16px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #bbb;
}

select:focus,
input:focus {
    outline: none;
    outline-offset: 0px;
    border: 1px solid #0070FF;
}

button:focus {
    outline: none;
}

button:active {
    outline: none;
}

.intel_icon_box {
    position: relative;
    height: 42px;
    display: inline-block;
}

.search_icon {
    position: absolute;
    top: 14px;
    left: 10px;
}

.intel_search_input {
    border: 1px solid #ECECEC;
    border-radius: 4px;
    height: 42px;
    width: 100%;
    padding-left: 34px;
}

.intel_search_time {
    height: 82px;
    position: relative;
    display: inline-block;
    margin-right: 12px;
}

.input_box {
    width: 290px;
    height: 42px;
    border: 1px solid #ECECEC;
    border-radius: 4px;
    margin-top: 26px;
    text-align: left;
    padding-left: 15px;

}


.container_ul {
    width: 160px;
    height: 100px;
    overflow-y: auto;
    position: absolute;
    top: 45px;
    border: 1px solid #ECECEC;
    z-index: 999;
    background: #fff;
    padding: 5px;
    border-radius: 3px;
}

.li_hover {
    padding: 3px;
    border-radius: 3px;
}

.button_search {
    background: #0070FF;
    border-radius: 4px;
    height: 42px;
    width: 124px;
    font-size: 16px;
    color: #fff;
}

.daterangepicker {
    right: auto;
    width: 260px;
    padding-top: 10px;
    transform: translateX(0);
}

.daterangepicker td,
.daterangepicker th {
    padding: 1px !important;
}

.time_icon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 25px;
    right: 10px;
}

.time_icon_search {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 40px;
    right: 10px;
}

.loophole_table_content {
    margin: 0;
    padding: 24px 0;
}

.loophole_table_tr>th,
.loophole_table_tr>td {
    text-align: left;
    height: 48px;
}

.loophole_table_tr>td {
    color: #333;
}

.tag_th {
    width: 260px;
}

.loophole_result_length {
    font-size: 12px;
    color: #BBBBBB;
}

.loophole_table_tr .btn_loophole {
    border: 1px solid #0070ff;
    border-radius: 4px;
    color: #0070ff;
    font-size: 12px;
    height: 24px;
    padding: 0 8px;
    margin: 1px 8px 0 0;
    line-height: 0;
    vertical-align: top;
    font-family: "PingFangSC-Regular";
}

.loophole_table_tr .btn_loophole.active {
    border: 1px solid #0070FF;
    color: #0070FF;
    position: relative;
}

.loophole_table_tr .btn_loophole.active .loop_img {
    position: absolute;
    width: 10px;
    height: 10px;
    right: 0;
    bottom: 0;
    background: #0070FF;
    border-radius: 2px 0 2px 0;
}

.button_add {
    border: 1px solid #0070FF;
    color: #0070FF;
    border-radius: 4px;
    font-size: 16px;
    height: 42px;
    width: 124px;
    margin-left: 2px;
}

.zeromodal-container {
    border-radius: 8px;
    padding: 36px;
}

.alert_name {
    font-size: 12px;
    color: #666;
    margin-bottom: 6px;
}

.alert_input_box {
    width: 100%;
    border: none;
    height: 30px;
    border-radius: 0;
    border-bottom: 1px solid #DDDDDD;
    font-size: 14px;
}

.loop_select_box:focus {
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #0070FF;
    outline: none;
    outline-offset: 0px;
}

.loop_select_box {
    width: 100%;
    border: none;
    height: 30px;
    border-bottom: 1px solid #DDDDDD;
    font-size: 14px;
}

select {
    border-radius: 0;
}

.alert_input_box:focus {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #0070FF;
}

.textarea_box {
    width: 100%;
    border: none;
    height: 88px;
    border: 1px solid #DDDDDD;
    font-size: 14px;
}

.alert_item_box {
    margin-bottom: 24px;
}

.time_select_box {
    display: flex;
}

.flex_item {
    flex: 1;
    margin-right: 36px;
    position: relative;
}

.alert_btn_box {
    margin-top: 24px;
    text-align: center;
    height: 40px;
}

.alert_btn_ok {
    width: 124px;
    height: 40px;
    background: #0070FF;
    border-radius: 4px;
    color: #fff;
    margin-right: 36px;
}

.alert_btn_cancel {
    width: 124px;
    height: 40px;
    border: 1px solid #0070FF;
    color: #0070FF;
    border-radius: 4px;
}
/*补充*/
.th_id{
    width: 45%;
    text-align: left;
}

@media (min-width:1600px) {
    .th_id{
        width: 55%;
    }
}

.td_operation{
    width: 160px;
    text-align: center!important;
}
.th_id_detail{
    ont-family: PingFangSC-Regular;
    font-size: 14px;
    color: #0070FF;
    line-height: 16px;
    margin-left: 5px;
}


.btn_operation {
    background: #64A8FF;
    border-radius: 4px;
    height: 28px;
    width: 80px;
    margin-right: 8px;
    color: #fff;
    line-height: 28px;
    font-size: 12px;
}

.th_time {
    width: 160px;
}



.daterangepicker.dropdown-menu {
    z-index: 99999;
}


.daterangepicker {
    width: auto;
    padding-top: 10px;
    transform: translateX(0);
}

.daterangepicker .calendar th,
.daterangepicker .calendar td {
    width: auto;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: #0070ff;
}

.btn-success,
.btn-success:active:focus {
    background-color: #0070ff;
    border-color: #0070ff;
}

.btn-default.focus,
.btn-default:active:focus,
.btn-default:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #DDDDDD;
}


.btn-success:hover,
.btn-success:active,
.btn-success.hover {
    background-color: #0070ff;
}

.source_input {
    width: 100px;
}

.daterangepicker .input-mini.active {
    border: 1px solid #0070ff;
    border-radius: 4px;
}

.tag_list_box {
    position: absolute;
    height: 156px;
    background: #fff;
    width: 755px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
    margin-top: 2px;
    overflow-y: auto;
}

.tag_list_box li {
    font-size: 12px;
    height: 34px;
    line-height: 34px;
    padding: 0 16px;
    color: #666666;
    cursor: pointer;
}

.tag_list_box li:hover {
    background: #E0EEFF;
}

.tag_add_box {
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #DDDDDD;
    font-size: 12px;
}

.tag_box_ul {
    display: inline-block;
    /* height: 30px; */
    font-size: 12px;
}

.tag_box_ul li {
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
    display: inline-block;
    margin-right: 6px;
    background: #E0EEFF;
    border-radius: 2px;
    font-size: 12px;
    color: #0070FF;
    margin-bottom: 5px;
}

.tag_input {
    display: inline-block;
    margin-left: 10px;
    border: none;
    height: 30px;
    line-height: 30px;
    border-radius: 0;
    font-size: 12px;
    width: 230px;
}

.tag_input:focus {
    border: none;
}

.tag_icon {
    width: 12px;
    vertical-align: text-bottom;
}




/* 修改 */
.pop_box {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .4);
    overflow: auto;
    z-index: 999;
}

.pop_contnet {
    color: red;
    width: 740px;
    height: auto;
    padding: 24px 36px;
    background: #F8F8F8;
    border-radius: 8px;
    position: absolute;
    top: 100px;
    margin-bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.contnet_title_box {
    height: 24px;
}

.closed_img {
    float: right;
    cursor: pointer;

}

.pop_contnet_title {
    font-family: PingFangSC-Medium;
    font-size: 18px;
    color: #333333;
    line-height: 24px;
    float: left;
}

.contnet {
    border: 1px solid #ECECEC;
    padding: 15px;
    margin-top: 24px;
    background-color: #fff;
}

.contnet_item {
    display: flex;
    min-height: 42px;
    line-height: 42px;
    margin-bottom: 10px;
}

.contnet_item_left {
    width: 180px;
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #666666;
}

.contnet_item_left img {
    margin-right: 10px;
}

.contnet_item_right {
    flex: 1;
    display: flex;
    position: relative;
}

.item_right_time_icon {
    position: absolute;
    right: 10px;
    width: 18px;
    top: 12px;
}

.item_right_input {
    min-height: 42px;
    background: #F8F8F8;
    width: 100%;
    padding: 0 24px;
    border-radius: 3px;
    font-size: 14px;
    color: #666666;
    border: 0;
}

.item_right_input:focus {
    background: #F8F8F8;
    border: 0;
}

.select_down_icon {
    position: absolute;
    right: 10px;
    top: 15px;
}

.select_list_box {
    position: absolute;
    height: 156px;
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
    margin-top: 45px;
    overflow-y: auto;
    z-index: 9990;
}

.select_list_box li {
    font-size: 12px;
    height: 34px;
    line-height: 34px;
    padding: 0 16px;
    color: #666666;
    cursor: pointer;
    white-space: nowrap;
}

.select_list_box li:hover {
    background: #E0EEFF;
}

.select_list_box::-webkit-scrollbar-track-piece {
    border-radius: 10px;
    background-color: #fff;
}

.select_list_box::-webkit-scrollbar {
    width: 4px;
    height: 1px;
}

.select_list_box::-webkit-scrollbar-thumb {
    background: #0070FF;
    border-radius: 10px;
    height: 24px;
}

.select_list_box::-webkit-scrollbar-thumb:hover {
    background: #0070FF;
}

.add_icon_box {
    width: 30px;
}

.add_icon {
    width: 16px;
    cursor: pointer;
}

.tag_item {
    margin-right: 10px;
    position: relative;
    flex: 1
}

/* 修改搜索框 下拉框 */
.search_input_box {
    display: inline-block;
    width: 180px;
    position: relative;
    margin-right: 5px;
}

.search_input {
    border: 1px solid #ECECEC;
    border-radius: 4px;
    height: 42px;
    width: 180px;
    padding: 0 21px;
}

.more_original {
    width: 100px;
    background: #F8F8F8;
    color: #0070FF;
    margin-left: 5px;
    font-size: 12px;
    text-align: center;
    position: relative;
}

.more_original img {
    width: 9px;
    vertical-align: middle;
}

.textarea_original {
    resize: none;
}

.add_old_box {
    flex: 1;
}

.pickup_box_div {
    font-size: 12px;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 42px;
    width: 100px;
}


/**************************************/
.zeromodal-container{
    background: #F8F8F8;
}
#vehicle_loophole{
    padding-left: 20px;
    padding-right: 4px;
}

.l_mid{
    border: 1px solid #ECECEC;
}
.l_mid .item{
    padding: 10px 10px;
}
.l_mid .item:nth-child(odd){
    background: #fff;
}

.l_mid .item .i_img{
    display: inline-block;
    transform: scale(0.8);
    margin: 0 5px;
    vertical-align: sub;
}
.l_mid .item .title{
    width: 150px;
    color: #666;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    font-family: PingFangSC-Medium;
}
.l_mid .item .stance{
    display: inline-block;
    font-family: PingFangSC-Regular;
}

.l_mid .item .stance.s_active{
    color: #0070ff;
}

.l_mid .item .stance.s_content{
    padding: 6px 0 0 32px;
    color: #666;
    font-size: 14px;
    line-height: 18px;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: block;
    -webkit-box-orient: vertical;
    font-family: PingFangSC-Regular;
}

.l_mid .item .s_label{
    height: 34px;
    line-height: 34px;
    display: flex;
}
.l_mid .item .s_label .s_name{
    width: 100px;
}
.l_mid .item .s_label .s_lab{
    flex: 1;
    font-size: 0;
}

.l_mid .item .s_label .s_lab .s_lab_val{
    color: #0070ff;
    font-size: 14px;
    border-radius: 4px;
    text-decoration: none;
    padding: 3px 8px;
    margin-right: 5px;
    border: 1px solid #0070ff;
    white-space: nowrap;
    overflow: hidden;
}



