::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #bbb;
    font-size: 14px;
}

.label_container{
    padding: 0 48px;
}
.label_search_box {
    position: relative;
    height: 42px;
}
.label_box_mid_input {
    padding-left: 36px;
    font-size: 14px;
    color: #333;
    border: 1px solid #ececec;
    border-radius: 4px;
    width: 480px;
    height: 42px;
}
.search_icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.label_box_mid_button_left {
    margin-left: 36px;
    color: #fff;
    font-size: 16px;
    width: 124px;
    height: 42px;
    background: #0070ff;
    border-radius: 4px;
}
.label_box_mid_button_right {
    float: right;
    color: #0070ff;
    font-size: 16px;
    width: 124px;
    height: 42px;
    border: 1px solid #0070ff;
    border-radius: 4px;
}

.label_sort_box{
    padding: 28px 0 72px;
}

.label-lists .item{
    border-bottom: 1px solid #ECECEC;
    padding: 12px 0;
    min-height: 50px;
}

.label-lists .toggle_cate{
    font-size: 0;
    margin: 10px 0;
    display: flex;
}
.toggle_cate .tog_cate{
    flex: 1;
}

.toggle_cate .tog_list{
    width: 160px;
    text-align: right;
}

.tog_cate .name{
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #333333;
    line-height: 18px;
    font-weight: bold;
}

.tog_list .tog_edit_seat{
    width: 16px;
    height: 16px;
    margin-right: 15px;
    z-index: 1500;
    display: inline-block;
}

.tog_list .tog_img{
    vertical-align: middle;
}

.tog_list .tog_img_top, .tog_list .tog_img_drag{
    margin-right: 15px;
}

.tog_img_edit, .tog_img_top{
    cursor: pointer;
}

.tog_img_drag{
    cursor: move;
}

.tog_list .tog_arrow{
    text-decoration: none;
    background-size: 10px;
    vertical-align: bottom;
    display: inline-block;
    width: 40px;
    text-align: left;
    background-repeat: no-repeat;
    background-position: 28px 5px;
    background-image: url("../../images/set/label_right.png");
}

.tog_list .tog_arrow.active{
    background-image: url("../../images/set/label_down.png");
}
.tog_list .tog_arrow .name{
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #0070FF;
    line-height: 14px;
}

.tog_cate .toggle_content{
    padding: 10px 0 15px;
}

.toggle_content .sortable{
    display: contents;
    font-size: 0;
}
.toggle_content .sortable .sortable_list{
    display: inline-block;
    position: relative;

}

.sortable .btn_label {
    width: 144px;
    height: 36px;
    line-height: 32px;
    background-color: #EEF6FF;
    color: #333;
    font-size: 14px;
    text-align: center;
    margin-right: 6px;
    margin-top: 6px;
    outline: none;
    cursor: default;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sortable .btn_label .b_label{
    width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.sortable .btn_img{
    position: absolute;
    width: 54px;
    height: 18px;
    left: 90px;
    top: 15px;
    border-left: 1px solid #fff;
}

.btn_img .b_img{
    z-index: 999;
    vertical-align: text-top;
}
.btn_img .b_img_drag{
    margin-left: 7px;
    cursor: move;
}
.btn_img .b_img_edit{
    margin-left: 5px;
    cursor: pointer;
}

.toggle_content .btn_label_add{
    width: 144px;
    height: 36px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #EEF6FF;
    display: inline-block;
    vertical-align: bottom;
}
.btn_label_add .ba_img{
    vertical-align: super;
    margin: -3px 4px;
}

.btn_label_add .ba_span{
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #333333;
}


/*********************************/
.lab_top{
    position: relative;
}

.lab_top, .lab_mid, .lab_bom{
    margin-bottom: 15px;
}

 .lab_name{
    font-size: 14px;
    color: #666;
}

 .lab_name .lab_tab{
    color: #FF5F5C;
    vertical-align: top;
}

 .lab_item{
    position: relative;
    margin: 10px 0;
}

 .token_top_select, .token_top_select:focus{
    border-top-width:0;
    border-left-width:0;
    border-right-width:0;
    border-bottom: 1px solid #ddd;
    width: 100%;
    height: 32px;
    line-height: 32px;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: #fff;
    outline: none;
    font-size: 16px;
}

 .f_select_opt{
     font-size: 16px;
     color: red;
 }

 .lab_item .lab_item_icon{
    position: absolute;
    top: 10px;
    right: 10px;
}

 .lab_mid_name,.lab_mid_name:focus{
    height: 32px;
    width: 100%;
    font-size: 14px;
    color: #333;
    border-top-width:0;
    border-left-width:0;
    border-right-width:0;
    border-bottom: 1px solid #ddd;
    outline:none;
}

.lab_mid_name::placeholder{
    color: #bbb;
    font-size: 14px;
}

 .lab_mid_name.disabled{
     cursor: not-allowed;
     color: #ccc;
     background-color: #ddd;
 }

 .lab_top_list{
     position: absolute;
     max-height: 170px;
     background: #fff;
     width: 514px;
     box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
     overflow-y: auto;
     z-index: 999;
     top: 62px;
     left: 2px;
 }

.lab_top_list::-webkit-scrollbar {
    width: 4px;
    height: 1px;
}

.lab_top_list::-webkit-scrollbar-thumb {
    background: #0070FF;
    border-radius: 2px;
}

.lab_top_list::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);*/
    background: #fff;
    border-radius: 2px;
}

.lab_top_list .item{
    height: 34px;
    line-height: 34px;
    padding: 0 16px;
    font-size: 14px;
    color: #666;
    background: #fff;
    cursor: pointer;
    border-bottom: 1px solid #f8f8f8;
}

.lab_top_list .item:last-child{
    border-width: 0;
}

.lab_top_list .item.active{
    background: #E0EEFF;
}

.lab_top_list .item:hover{
    background-color: #E0EEFF;
}


.token_bom_content{
    width: 100%;
    height: 120px;
    margin: 10px 0;
    padding: 5px 0;
    font-size: 14px;
    color: #333;
    border: 1px solid #ddd;
    resize:none;
}

.token_bom_content::placeholder{
    color: #bbb;
    font-size: 14px;
}

/* input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
    font-size: 16px;
    color: #BBBBBB;
}*/

 .lab_btn_box {
    height: 40px;
    text-align: center;
}

 .lab_btn_ok {
    width: 124px;
    height: 40px;
    background: #0070ff;
    border-radius: 4px;
    color: #fff;
}

 .lab_btn_cancel{
    border: 1px solid #0070ff;
    color: #0070ff;
    border-radius: 4px;
    width: 124px;
    height: 40px;
    margin-left: 16px;
}
 .lab_btn_delete{
     border: 1px solid #0070ff;
     color: #0070ff;
     border-radius: 4px;
     width: 124px;
     height: 40px;
     margin-left: 16px;
 }

 .lab_content{
     height: 80px;
     line-height: 80px;
     margin-bottom: 20px;
     text-align: center;
 }

.lab_content .lab_tip{
    color: #333;
    font-size: 16px;
    line-height: 32px;
    padding: 0 80px;
}


/*************************/
.cate_top, .cate_mid, .cate_bom {
    margin-bottom: 15px;
}
.cate_top{
    position: relative;
}
.cate_name {
    font-size: 14px;
    color: #666;
}
.cate_name .cate_tab {
    color: #FF5F5C;
    vertical-align: top;
}
.cate_item {
    position: relative;
    margin: 10px 0;
}

.cate_mid_name, .cate_mid_name:focus {
    height: 32px;
    width: 100%;
    font-size: 14px;
    color: #333;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom: 1px solid #ddd;
    outline: none;
}

.cate_mid_name::placeholder{
    color: #bbb;
    font-size: 14px;
}

.cate_top_list {
    position: absolute;
    max-height: 102px;
    background: #fff;
    width: 514px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
    overflow-y: auto;
    z-index: 999;
    top: 64px;
    left: 2px;
}

.cate_top_list::-webkit-scrollbar {
    width: 4px;
    height: 1px;
}

.cate_top_list::-webkit-scrollbar-thumb {
    background: #0070FF;
    border-radius: 2px;
}

.cate_top_list::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);*/
    background: #fff;
    border-radius: 2px;
}

.cate_top_list .item {
    height: 34px;
    line-height: 34px;
    padding: 0 16px;
    font-size: 14px;
    color: #666666;
    cursor: pointer;
    border-bottom: 1px solid #f8f8f8;
}
.cate_top_list .item:hover {
    background: #E0EEFF;
}

.cate_top_list .item.active {
    background: #E0EEFF;
}

#cate_edit .cate_btn_box{
    margin: 35px 0;
    text-align: center;
}

.cate_btn_box .cate_btn_ok {
    width: 124px;
    height: 40px;
    background: #0070ff;
    border-radius: 4px;
    color: #fff;
}

.cate_btn_box .cate_btn_cancel {
    border: 1px solid #0070ff;
    color: #0070ff;
    border-radius: 4px;
    width: 124px;
    height: 40px;
    margin-left: 16px;
}

.cate_btn_box .cate_btn_delete {
    border: 1px solid #0070ff;
    color: #0070ff;
    border-radius: 4px;
    width: 124px;
    height: 40px;
    margin-left: 16px;
}

/********************************************/
.cate_content{
    text-align: center;
    height: 90px;
    line-height: 70px;
}
.cate_content .cate_tip{
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #333333;
}
.cate_btn_delete_box{
    text-align: center;
}

.cate_btn_delete_box .cate_btn_aware{
    color: #fff;
    font-size: 16px;
    background: #0070FF;
    border-radius: 4px;
    width: 180px;
    height: 40px;
    font-family: PingFangSC-Regular;
}


.cate_btn_delete_box .cate_btn_ok{
    color: #fff;
    font-size: 16px;
    background: #0070FF;
    border-radius: 4px;
    width: 124px;
    height: 40px;
    margin: 0 20px;
    font-family: PingFangSC-Regular;
}
.cate_btn_delete_box .cate_btn_cancel{
    color: #0070FF;
    font-size: 16px;
    background: #fff;
    border-radius: 4px;
    width: 124px;
    height: 40px;
    margin: 0 20px;
    border: 1px solid #0070FF;
    font-family: PingFangSC-Regular;
}

/*!!!!!!!!!!!!!!!!!!!!!!!*/
.zeromodal-footer{
    bottom: 40px;
}

.zeromodal-footer .zeromodal-line{
    display: none;
}
.zeromodal-footer .zeromodal-btn-container{
    text-align: center;
}


 .zeromodal-footer  .zeromodal-btn-primary{
    width: 124px;
    height: 40px;
    background: #0070ff;
    border-radius: 4px;
    color: #fff;
    outline: none;
    box-shadow: none;
}

 .zeromodal-footer .zeromodal-btn-default {
    border: 1px solid #0070ff;
    color: #0070ff;
    border-radius: 4px;
    width: 124px;
    height: 40px;
    margin-left: 16px;
    outline: none;
    box-shadow: none;
}







