.label_container{
    padding: 0 48px;
}
.label_search_box {
    position: relative;
    height: 42px;
}
.label_box_mid_input {
    padding-left: 36px;
    font-size: 14px;
    color: #333;
    border: 1px solid #ececec;
    border-radius: 4px;
    width: 480px;
    height: 42px;
}
.search_icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.label_box_mid_button_left {
    margin-left: 36px;
    color: #fff;
    font-size: 16px;
    width: 124px;
    height: 42px;
    background: #0070ff;
    border-radius: 4px;
}
.label_box_mid_button_right {
    float: right;
    color: #0070ff;
    font-size: 16px;
    width: 124px;
    height: 42px;
    border: 1px solid #0070ff;
    border-radius: 4px;
}

.label_sort_box{
    padding: 28px 0;
}

.label-lists .item{
    border-bottom: 1px solid #ECECEC;
    padding-top: 12px;
    min-height: 50px;
}

.label-lists .toggle{
    text-decoration: none;
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: 0px 2px;
    background-image: url("../../images/set/label_right.png");
}

.label-lists .toggle.active{
    background-image: url("../../images/set/label_down.png");
}

.label-lists .toggle .name{
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #333333;
    line-height: 18px;
    margin-left: 15px;
}

.label-lists .toggle_content{
    padding: 10px 0 15px;
    font-size: 0;
}

.toggle_content .btn_label{
    width: 144px;
    height: 36px;
    line-height: 32px;
    background-color: #EEF6FF;
    color: #333;
    font-size: 14px;
    text-align: center;
    margin-right: 5px;
    margin-top: 5px;
    outline: none;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.toggle_content .btn_label_add{
    background-color: #fff;
    border: 1px solid #EEF6FF;
}

.toggle_content .btn_label .btn_img{
    vertical-align: text-top;

}
.toggle_content .btn_label .btn_span{
    margin-left: 5px;
}

/************/
.lab_top{
    position: relative;
}

.lab_top, .lab_mid, .lab_bom{
    margin-bottom: 15px;
}

 .lab_name{
    font-size: 12px;
    color: #666;
}

 .lab_name .lab_tab{
    color: #FF5F5C;
    vertical-align: top;
}

 .lab_item{
    position: relative;
    margin: 10px 0;
}

 .token_top_select, .token_top_select:focus{
    border-top-width:0;
    border-left-width:0;
    border-right-width:0;
    border-bottom: 1px solid #ddd;
    width: 100%;
    height: 32px;
    line-height: 32px;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: #fff;
    outline: none;
    font-size: 16px;
}

 .f_select_opt{
     font-size: 16px;
     color: red;
 }

 .lab_item .lab_item_icon{
    position: absolute;
    top: 10px;
    right: 10px;
}

 .lab_mid_name,.lab_mid_name:focus{
    height: 32px;
    width: 100%;
    font-size: 16px;
    color: #333;
    border-top-width:0;
    border-left-width:0;
    border-right-width:0;
    border-bottom: 1px solid #ddd;
    outline:none;
}

 .lab_mid_name.disabled{
     cursor: not-allowed;
     color: #ccc;
     background-color: #ddd;
 }

 .lab_top_list{
     /*position: absolute;

     background: #fff;
     width: 100%;
     box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
     margin-top: 2px;
     overflow-y: auto;
     z-index: 999;*/

     position: absolute;
     max-height: 156px;
     background: #fff;
     width: 514px;
     box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
     overflow-y: auto;
     z-index: 999;
     top: 62px;
     left: 2px;
 }

.lab_top_list::-webkit-scrollbar {
    width: 4px;
    height: 1px;
}

.lab_top_list::-webkit-scrollbar-thumb {
    background: #0070FF;
    border-radius: 2px;
}

.lab_top_list::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);*/
    background: #fff;
    border-radius: 2px;
}


.lab_top_list .item{
    height: 34px;
    line-height: 34px;
    padding: 0 16px;
    font-size: 14px;
    color: #666666;
    cursor: pointer;
    border-bottom: 1px solid #f8f8f8;
}
.lab_top_list .item:last-child{
    border-width: 0;
}

/*.lab_top_list li.item:nth-child(even) {
    background: #E0EEFF;
}*/

.lab_top_list .item:hover{
    background-color: #E0EEFF;
}


 .token_bom_content{
    width: 100%;
    height: 120px;
    margin: 10px 0;
    padding: 5px 0;
    font-size: 16px;
    color: #333;
    border: 1px solid #ddd;
    resize:none;
}

 input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
    font-size: 16px;
    color: #BBBBBB;
}

 .lab_btn_box {
    height: 40px;
    text-align: center;
}

 .lab_btn_ok {
    width: 124px;
    height: 40px;
    background: #0070ff;
    border-radius: 4px;
    color: #fff;
}

 .lab_btn_cancel{
    border: 1px solid #0070ff;
    color: #0070ff;
    border-radius: 4px;
    width: 124px;
    height: 40px;
    margin-left: 16px;
}
 .lab_btn_delete{
     border: 1px solid #0070ff;
     color: #0070ff;
     border-radius: 4px;
     width: 124px;
     height: 40px;
     margin-left: 16px;
 }

 .lab_content{
     height: 80px;
     line-height: 80px;
     margin-bottom: 20px;
     text-align: center;
 }

.lab_content .lab_tip{
    color: #333;
    font-size: 16px;
    line-height: 32px;
    padding: 0 80px;
}






