.assets_vehicle {
  padding: 0 24px;
  min-height: 200px;
}

.search_box {
  height: 42px;
  position: relative;
}

/* 修改搜索框 下拉框 */
.search_input_box {
  float: left;
  width: 115px;
  position: relative;
  margin-right: 12px;
}

.search_input {
  border: 1px solid #ECECEC;
  border-radius: 4px;
  height: 42px;
  width: 120px;
  padding: 0 15px;
  padding-left: 10px;
}

.select_down_icon {
  position: absolute;
  right: 0;
  top: 15px;
}

/* 下拉框的样式-s */

.select_list_box {
  position: absolute;
  height: 156px;
  background: #fff;
  width: 100%;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  margin-top: 45px;
  overflow-y: auto;
  z-index: 9990;
}

.select_list_box li {
  font-size: 12px;
  height: 34px;
  line-height: 34px;
  padding: 0 16px;
  color: #666666;
  cursor: pointer;
  white-space: nowrap;
}

.select_list_box li:hover {
  background: #E0EEFF;
}

.select_list_box::-webkit-scrollbar-track-piece {
  border-radius: 10px;
  background-color: #fff;
}

.select_list_box::-webkit-scrollbar {
  width: 4px;
  height: 1px;
}

.select_list_box::-webkit-scrollbar-thumb {
  background: #0070FF;
  border-radius: 10px;
  height: 24px;
}

.select_list_box::-webkit-scrollbar-thumb:hover {
  background: #0070FF;
}

/* 下拉框的样式-e */

.btn_i {
  width: 108px;
  height: 42px;
  line-height: 42px;
  border-radius: 4px;
  background: #0070FF;
  font-family: PingFangSC-Regular;
  font-size: 16px;
  color: #FFFFFF;
}

.btn_o {
  width: 108px;
  height: 42px;
  line-height: 42px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #0070FF;
  font-family: PingFangSC-Regular;
  font-size: 16px;
  color: #0070FF;
}

/* table */
.t_box {
  margin-top: 24px;
}

.t_head {
  background: #EEF6FF;
  display: flex;
  height: 48px;
  line-height: 48px;
}

.background_odd {
  background: #EEF6FF;
}

.children_head {
  background: #ECECEC !important;
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #333333;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.12) inset
}

.t_head li {
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #333333;
}

.t_head_frist {
  width: 50px;
  text-align: center;
}

.t_head_flex {
  flex: 1;
}

.t_body {
  min-height: 48px;
  cursor: pointer;
}

.t_body .main {
  /* height: 48px; */
  line-height: 48px;
  display: flex;
}

.children_box li:nth-last-child(1) {
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.12) inset
}

.children {
  height: 42px;
  line-height: 48px;
  display: flex;
  background: #F8F8F8;
}