/*ycl20191021*/

.content-container{
    display: flex;
}
.content-container .content-aside{
    width: 180px;
    background-color: rgb(248,248,248);
}

#asideApp{
    padding: 20px 0;
}
.aside-lists{

}
#asideApp .aside-lists .aside-item{
    height: auto;
    line-height: 40px;
    position: relative;
}

#asideApp .aside-lists .aside-item .fa{
    padding-right: 5px;
}

#asideApp .aside-lists .aside-item > a.aside-item-a{
    color: #333;
    padding-left: 20px;
    text-decoration: none;
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 15px;
}

#asideApp .aside-lists .aside-item .fa{
    color: rgb(0,112,255);
}

#asideApp .aside-lists .aside-item .caret{
    position: absolute;
    right: 20px;
    top: 17px;
    font-size: 16px;
    color: rgb(0,112,255);
    border-top: 6px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;

}
#asideApp .aside-lists .aside-item .caret.active{
    top: 14px;
    right: 17px;
    border-left: 6px dashed;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}

.aside-lists-second{


}

.aside-lists-second .aside-item-second{
    height: 40px;
    line-height: 40px;
    position: relative;
}

.aside-lists-second .aside-item-second-a{
    padding-left: 40px;
    text-decoration: none;
    display: block;
    color: #333;
}

.aside-lists-second .aside-item-second.active{
    background-color: rgb(0,112,255);
}

.aside-lists-second .aside-item-second.active:after{
    content: "";
    width: 0px;
    height: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid rgb(0,112,255);
    position: absolute;
    top: 12px;
    right: -8px;
    z-index: 999;
}
.aside-lists-second .aside-item-second.active > a.aside-item-second-a{
    color: #fff;
}

.content-container .content-wrapper{
    flex: 1;
    background: #fff;
}
